* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
}
.border-none {
    border: none;
}
.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid black;
    padding-left: 15px;
}
.heading {
    font-size: 50px;
    margin-bottom: 25px;
}
.sub-heading {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}
.sub-heading::before {
    content: '*';
    padding-right: 5px;
}
input {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.agreements input{
    width: 30px; 
}
.preferences input {
    width: 20px;
}
.tour input {
    width: 150px;
}
#button {
    width: 180px;
}

