
body {
    margin: 0;
    padding: 0;
}
.padding {
    padding: 20px 160px 20px 20px;
}
.absolut-block {
    position: absolute;
    display: block;
}
.display-none {
    display: none;
}
.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
.main-list {
    font-size: 0;
    background-color: rgb(233, 125, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.main-list li {
    list-style-type: none;
    background-color: rgb(233, 125, 1);
}
.list-item {
    display: inline-block;
    position: relative;
    width: 14.2%;
    padding: 20px 0;

}
.sub-list {
    top: 63px;
}
.third-sub-list {
    top: 126px;
    left: 224px;
}
.fourth-sub-list {
    top: 126px;
    left: 138px;
}
.list-item:hover .web-design-item{
    display: block;
    width: inherit;
}
.web-design-item:hover .tutorials-item {
    display: block;
}
.tutorials-item:hover .other-item {
    display: block;
} 
.main-list li:hover {
    background-color: rgb(218, 83, 83);
}
.first-article {
    margin-top: 100px;
}


